<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Nonton</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Home</a>
            </li>
            <li>
              <a href="../category/1">Original</a>
            </li>
            <li>
              <a href="../category/2">Sinetron</a>
            </li>
            <li>
              <a href="../category/4">Premium</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
       <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2017 Nonton, Inc.</p>
      </footer>

    </div>
     


